{% extends "layouts.html" %}

{% block css %}

{% endblock %}

{% block content%}

<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <h1 class="page-title"># 订单管理</h1>
  </div>
  <div class="page-content">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">@ {% if itype == 0 %}普通{% elseif itype == 1 %}拼团{% endif %}订单列表</h3>
      </div>
      <form action="/admin/indent/index/itype/{{ itype }}/type/{{ type }}" method="post">
        <div class="input-group" style="width: 300px;float: right;margin-right: 30px;">
          <input type="text" class="form-control" name="search" placeholder="请输入订单编号">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary"><i class="icon wb-search" aria-hidden="true"></i></button>
          </span>
        </div>
      </form>
      <ul class="nav nav-pills" style="margin-left: 30px;">
        <li role="presentation" {% if type == 0 %}class="active"{% endif %}><a href="/admin/indent/index/itype/{{ itype }}/type/0">待付款</a></li>
        <li role="presentation" {% if type == 1 %}class="active"{% endif %}><a href="/admin/indent/index/itype/{{ itype }}/type/1">待发货</a></li>
        <li role="presentation" {% if type == 2 %}class="active"{% endif %}><a href="/admin/indent/index/itype/{{ itype }}/type/2">待收货</a></li>
        {% if itype == 0 %}
          <li role="presentation" {% if type == 3 %}class="active"{% endif %}><a href="/admin/indent/index/itype/{{ itype }}/type/3">待评价</a></li>
          <li role="presentation" {% if type == 4 %}class="active"{% endif %}><a href="/admin/indent/index/itype/{{ itype }}/type/4">售后服务</a></li>
        {% endif %}
        {% if itype == 1 %}
          <li role="presentation" {% if type == 3 %}class="active"{% endif %}><a href="/admin/indent/index/itype/{{ itype }}/type/3">已收货</a></li>
        {% endif %}
      </ul>
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>创建时间</th>
              <th>订单编号</th>
              <th>总金额</th>
              <th>买家留言</th>
              <th>商品信息</th>
              <th>收货信息</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
          {% if data %}
          {% for k,v in data %}
            <tr>
              <td>
                {% if v.status == 0 %}
                  <span class="label label-danger">待完善</span>
                {% elseif v.status == 1 %}
                  <span class="label label-success">正常</span>
                {% elseif v.status == 2 %}
                  <span class="label label-danger">取消订单</span>
                {% elseif v.status == 3 %}
                  <span class="label label-danger">订单超时</span>
                {% elseif v.status == 4 %}
                  <span class="label label-danger">申请退款</span>
                {% elseif v.status == 5 %}
                  <span class="label label-danger">退款失败</span>
                {% elseif v.status == 6 %}
                  <span class="label label-danger">退款成功</span>
                {% endif %}
              </td>
              <td>{{ v.ctime|date('Y-m-d H:i') }}</td>
              <td>{{ v.inumber }}</td>
              <td>¥{{ v.total_money }}</td>
              <td>{{ v.remarks }}</td>
              <td>
                {% for kk,vv in v.igData %}
                  <dl class="dl-horizontal">
                    <dt>商品名称</dt>
                    <dd>{{ vv.goods_name }}</dd>
                    <dt>商品规格</dt>
                    <dd>{{ vv.goods_specification }}</dd>
                    <dt>商品价格</dt>
                    <dd>¥{{ vv.goods_price }}</dd>
                    <dt>购买数量</dt>
                    <dd>x{{ vv.quantity }}</dd>
                  </dl>
                {% endfor %}
              </td>
              <td>
                  <dl class="dl-horizontal">
                    <dt>联系人</dt>
                    <dd>{{ v.itdData.contacts }}</dd>
                    <dt>手机号码</dt>
                    <dd>{{ v.itdData.phone }}</dd>
                    <dt>详细地址</dt>
                    <dd>{{ v.itdData.address }}</dd>
                    <dt>邮政编码</dt>
                    <dd>{{ v.itdData.postal_code }}</dd>
                  </dl>
              </td>
              <td>
                {% if itype == 0 and v.type == 1 %}
                  <button type="button" class="btn btn-primary btn-xs" onclick="commonSs({{ v.id }},2);">已发货</button>
                {% endif %}
                {% if itype == 0 and v.status == 4 %}
                  <button type="button" class="btn btn-danger btn-xs" onclick="nook({{ v.id }},5);">拒绝</button>
                  <button type="button" class="btn btn-success btn-xs" onclick="nook({{ v.id }},6);">同意</button>
                {% endif %}
                {% if itype == 1 %}
                  <button type="button" class="btn btn-primary btn-xs" onclick="groupInfo({{ v.id }},{{ v.ggid }});">拼团详情</button>
                {% endif %}
                <!-- <button type="button" class="btn btn-primary btn-xs" onclick="edit({{ v.id }});">编辑</button>
                <button type="button" class="btn btn-default btn-xs" onclick="del({{ v.id }});">删除</button>
                <button type="button" class="btn btn-primary btn-xs" onclick="addGoods({{ type }},{{ v.id }});">添加商品</button>
                <button type="button" class="btn btn-primary btn-xs" onclick="indexGoods({{ type }},{{ v.id }});">商品列表</button> -->
              </td>
            </tr>
          {% endfor %}
          {% else %}
            <tr>
              <td colspan="4">
                <blockquote>
                  <p>暂无数据 :(</p>
                </blockquote>
              </td>
            </tr>
          {% endif %}
          </tbody>
        </table>
        {% autoescape false %}
          <div style="float: right;">
            {{ page }}
          </div>
        {% endautoescape %}
      </div>
    </div>
  </div>
</div>
<!-- End Page -->

{% endblock %}

{% block js %}
<script src="/apps/admin/views/indent/js/index.js"></script>
{% endblock %}