{% extends "layouts.html" %}
{% block content%}

<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <h1 class="page-title"># 商品管理</h1>
  </div>
  <div class="page-content">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">@ 商品列表 -> {{ cname }}</h3>
      </div>
      <form action="/admin/goods/index/gcid/{{ gcid }}" method="post">
        <div class="input-group" style="width: 300px;float: right;margin-right: 30px;">
          <input type="text" class="form-control" name="search" placeholder="请输入搜索关键字">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary"><i class="icon wb-search" aria-hidden="true"></i></button>
          </span>
        </div>
      </form>
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>时间</th>
              <th>商品名称</th>
              <th>小贴士</th>
              <th>原价</th>
              <th>促销价</th>
              <th>库存</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
          {% if data %}
          {% for k,v in data %}
            <tr>
              <td>
                {% if v.status == 0 %}
                  <span class="label label-success">上架</span>
                {% else %}
                  <span class="label label-danger">下架</span>
                {% endif %}
              </td>
              <td>{{ v.ctime|date('Y-m-d H:i') }}</td>
              <td>{{ v.cname }}</td>
              <td>{{ v.tips }}</td>
              <td>{{ v.original_price }}</td>
              <td>{{ v.promotion_price }}</td>
              <td>{{ v.inventory }}</td>
              <td>
                {% if v.status == 1 %}
                  <button type="button" class="btn btn-primary btn-xs" onclick="basicInfoEdit({{ type }},{{ gcid }},{{ v.id }});">基础编辑</button>
                  <button type="button" class="btn btn-primary btn-xs" onclick="specificationEdit({{ v.id }});">规格编辑</button>
                  <button type="button" class="btn btn-primary btn-xs" onclick="coverEdit({{ v.id }});">封面编辑</button>
                  {% if v.type == 1 %}
                  <button type="button" class="btn btn-danger btn-xs" onclick="ggConfig({{ v.id }});">配置拼团</button>
                  {% endif %}
                  <button type="button" class="btn btn-success btn-xs" onclick="changeStatus({{ type }},{{ v.id }},0);">上架</button>
                  <button type="button" class="btn btn-default btn-xs" onclick="del({{ type }},{{ v.id }});">删除</button>
                {% else %}
                  {% if v.type == 1 %}
                  <button type="button" class="btn btn-info btn-xs" onclick="ggInfo({{ v.id }});">拼团详情</button>
                  {% endif %}
                  <button type="button" class="btn btn-danger btn-xs" onclick="changeStatus({{ type }},{{ v.id }},1);">下架</button>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          {% else %}
            <tr>
              <td colspan="4">
                <blockquote>
                  <p>暂无数据 :(</p>
                </blockquote>
              </td>
            </tr>
          {% endif %}
          </tbody>
        </table>
        {% autoescape false %}
          <div style="float: right;">
            {{ page }}
          </div>
        {% endautoescape %}
      </div>
    </div>
  </div>
</div>
<!-- End Page -->

{% endblock %}
{% block js %}
<script src="/apps/admin/views/goods/js/index.js"></script>
{% endblock %}