{% extends "layouts.html" %}
{% block content%}

<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <h1 class="page-title"># 商品管理</h1>
  </div>
  <div class="page-content">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">@ 商品分类列表</h3>
      </div>
      <form action="/admin/goodsCategory/index/type/{{ type }}" method="post">
        <div class="input-group" style="width: 300px;float: right;margin-right: 30px;">
          <input type="text" class="form-control" name="search" placeholder="请输入搜索关键字">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary"><i class="icon wb-search" aria-hidden="true"></i></button>
          </span>
        </div>
      </form>
      <ul class="nav nav-pills" style="margin-left: 30px;">
        <li role="presentation" {% if type == 0 %}class="active"{% endif %}><a href="/admin/goodsCategory/index/type/0">普通</a></li>
        <li role="presentation" {% if type == 1 %}class="active"{% endif %}><a href="/admin/goodsCategory/index/type/1">拼团</a></li>
      </ul>
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>类别名称</th>
              <th>排序</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
          {% if data %}
          {% for k,v in data %}
            <tr>
              <td>
                {% if v.type == 0 %}
                  <span class="label label-success">普通</span>
                {% else %}
                  <span class="label label-danger">拼团</span>
                {% endif %}
              </td>
              <td>{{ v.cname }}</td>
              <td>{{ v.sort }}</td>
              <td>
                <button type="button" class="btn btn-primary btn-xs" onclick="edit({{ v.id }});">编辑</button>
                <button type="button" class="btn btn-default btn-xs" onclick="del({{ v.id }});">删除</button>
                <button type="button" class="btn btn-primary btn-xs" onclick="addGoods({{ type }},{{ v.id }});">添加商品</button>
                <button type="button" class="btn btn-primary btn-xs" onclick="indexGoods({{ type }},{{ v.id }});">商品列表</button>
              </td>
            </tr>
          {% endfor %}
          {% else %}
            <tr>
              <td colspan="4">
                <blockquote>
                  <p>暂无数据 :(</p>
                </blockquote>
              </td>
            </tr>
          {% endif %}
          </tbody>
        </table>
        {% autoescape false %}
          <div style="float: right;">
            {{ page }}
          </div>
        {% endautoescape %}
      </div>
    </div>
  </div>
</div>
<!-- End Page -->

{% endblock %}

{% block js %}
<script src="/apps/admin/views/goodsCategory/js/index.js"></script>
{% endblock %}